@media (max-width: 1200px)
	.container
		max-width: 960px
	.hero
		&__title
			font-size: 45px
		&__car
			display: none
	.benefits
		&__item
			flex-basis: 50%
			&:nth-child(-n+4)
				margin-bottom: 50px
	.feedback
		&__text
			background-color: transparent
	.partnership
		display: none
	.footer
		&__body
			border-top: 0
	.off
		&__car
			display: none
@media (max-width: 992px)
	.container
		max-width: 768px
	.hero
		&__title
			font-size: 43px
	.navbar
		margin-bottom: 80px
		&__link:not(:last-child)
			margin-right: 25px
	.feedback
		&__body
			flex-direction: column
		&__text
			padding: 0
		&__name
			text-align: center
		&__image
			margin-bottom: 15px
@media (max-width: 768px)
	.container
		max-width: 576px
	.navbar
		&__logo
			font-size: 26px
			margin-right: 100px
		&__list
			display: flex
			flex-wrap: wrap
		&__link
			flex-basis: 50%
			&:not(:last-child)
				margin-right: 0
	.off
		&__title
			font-size: 33px
			line-height: 33px
	.hero
		&__title
			font-size: 37px
	.benefits
		&__item
			flex-basis: 100%
			justify-content: center
			&:not(:last-child)
				margin-bottom: 50px
		&__text
			max-width: 223px
	.footer
		&__body
			padding: 25px 0
			flex-direction: column
			justify-content: flex-start
		&__span:first-child
			margin-bottom: 20px
@media (max-width: 576px)
	.container
		max-width: 480px
		width: 90%
	.navbar
		&__list
			flex-direction: column
		&__link
			flex-basis: 100%
	.hero
		&__title
			font-size: 30px
			line-height: 38px
	.benefits
		padding: 80px
		&__title
			font-size: 30px
	.feedback
		padding-bottom: 80px
		&__title
			font-size: 30px
	.off
		padding-top: 60px
		&__title
			margin-bottom: 36px
			font-size: 27px
			line-height: 27px
	.partnership
		&__title
			font-size: 30px
@media (max-width: 430px)
	.container
		max-width: 320px
	.hero
		&__title
			max-width: 210px
		&__descr
			max-width: 265px
	.navbar
		margin-bottom: 30px
		&__link
			display: none
	.modal
		&__title
			font-size: 20px
			line-height: 26px
		&__text
			line-height: 24px
	.benefits
		&__item
			flex-wrap: wrap
			text-align: center
		&__circle
			margin-bottom: 10px
		&__text
			max-width: 100%
	.off
		&__title
			font-size: 25px
			line-height: 25px
	.footer
		&__span:first-child
			max-width: 210px
